/* body背景色 */
body {
	background: #f5f5f5;
}
/* 背景屎黄色 */
.themes_bg_color {
	background: #f2a11c;
}
.themes_bg_color a{
	color: #FFFFFF !important;
}
/* 白色字体 */
.themes_font_color {
	color: #fff;
}
/* 导航标题 */
.themes_title {
	font-family: PingFang-SC Regular;
	color: #fff;
}

/* 导航右侧操作栏 */
.themes_nav_right {
	display: inline-block;
	float: right;
	vertical-align: middle;
	margin-top: 0px;	
}
/* 单选框 复选框 选中样式 颜色 */
.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before{
	color: #f2a11c;
}

/*返回文字样式*/
.theme_back a{
	/*color: #f2a11c !important;*/
	color: #FFFFFF !important;
}
.theme_back_font,.theme_next_font{
	/*color: #f2a11c ;*/
	color: #FFFFFF;
	margin-top: 7px;
    font-size: 14px;
	
}
.theme_font_danger{
	color: red ;
}
/* mui content 内容区 距顶部距离 */
.mui-bar-nav~.mui-content .mui-slider.mui-fullscreen{
	top: 102px;
}
/*tab页切里面的文字颜色*/
/*tab被选中的当前横线颜色*/
.themes_tab .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{
	background-color: #f2a11c !important;
}
.themes_font_color_tab.mui-active{
	color: #f2a11c !important;
}
/*tab 页切内容高度 */

.mui-fullscreen{
	/*top: 60px;*/
}
.mui-slider-indicator.mui-segmented-control{
	background: #fff;
}
.mui-search.mui-active:before{
	left: 15px;
	top:35px;
}
.mui-input-row.mui-search .mui-icon-clear{
	top: 16px;
    right: 6px;
}
.search_head{
	padding:10px;
	position: relative;
	overflow: visible;
	
}
.search_head input[type="search"]{
	margin-bottom: 0 !important;
	background: #fff;
}
.search_head .mui-placeholder{
	top: 10px;
}

/*通用的上拉刷新加载的样式*/
html,body{
	background-color: #efeff4;
}
.mui-bar~.mui-content .mui-fullscreen {
	top: 44px;
	height: auto;
}
.mui-pull-top-tips {
	position: absolute;
	top: -20px;
	left: 50%;
	margin-left: -25px;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	z-index: 1;
}
.mui-bar~.mui-pull-top-tips {
	top: 24px;
}
.mui-pull-top-wrapper {
	width: 42px;
	height: 42px;
	display: block;
	text-align: center;
	background-color: #efeff4;
	border: 1px solid #ddd;
	border-radius: 25px;
	background-clip: padding-box;
	box-shadow: 0 4px 10px #bbb;
	overflow: hidden;
}
.mui-pull-top-tips.mui-transitioning {
	-webkit-transition-duration: 200ms;
	transition-duration: 200ms;
}
.mui-pull-top-tips .mui-pull-loading {
	-webkit-backface-visibility: hidden;
	-webkit-transition-duration: 400ms;
	transition-duration: 400ms;
	
	margin: 0;
}
.mui-pull-top-wrapper .mui-icon,
.mui-pull-top-wrapper .mui-spinner {
	margin-top: 7px;
}
.mui-pull-top-wrapper .mui-icon.mui-reverse {
	-webkit-transform: rotate(180deg) translateZ(0);
}
.mui-pull-bottom-tips {
	text-align: center;
	background-color: #efeff4;
	font-size: 15px;
	line-height: 40px;
	color: #777;
}
.mui-pull-top-canvas {
	overflow: hidden;
	background-color: #fafafa;
	border-radius: 40px;
	box-shadow: 0 4px 10px #bbb;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.mui-pull-top-canvas canvas {
	width: 40px;
}


/* 详情 通用 - 手风琴 */
.detailRow .mui-input-group .mui-input-row{
	min-height:40px;
	height:auto;
}
.detailRow_label{
	width:25%;
	min-height:40px;
	float: left;
	padding:10px 0;
    word-break: break-all;	
}
.detailRow_content{
	width:55%;
	min-height:40px;
	float: left;
	padding:10px 0;
    word-break: break-all;	
}
.detailRow_right{
	width:10%;
	min-height:40px;
	float: left;
	padding:10px 0;
	text-align: right;
	font-size: 12px;
}
.head_minheight{
	min-height:auto;
	padding:0;
}

/* 盘点列表详情覆盖 */
.special_list .am-card.am-card-full,.special_list .scrollList-item{
	border: 0 !important;
}
.title_h3{
	padding:10px 12px 6px;
    font-weight: normal;
    font-size: 18px;
    background: #fff;
    border-left: 6px solid #EC971F;
}
#check_scroll1 {
	top: 86px;
	z-index: 1;
}
#check_scroll1 .mui-table-view:before{
	background: none!important;
}
#check_scroll1 .mui-table-view .mui-table-view-cell{
	padding: 0;
}
