
<script type="text/html" id='check_list_tpl'>
	{{ each list value i}}
		<div class="am-card scrollList-item am-card-full" data-id={{ value.id }}>
			<div class="am-card-header">
				<div class="am-card-header-content">
					<span style="font-size: 18px; color: rgb(51, 51, 51); font-weight: bold;">
					{{ value.ctmmGenericName ? value.ctmmGenericName:value.ctmmTradeName ? value.ctmmTradeName: '' }}</span>
				</div>
				<div class="am-card-header-extra">
					<span style="margin-right: 8px;">{{ value.checkNum }}</span>
					<span>{{ value.checkDetailStatusName }}</span>
				</div>
			</div>
			<div class="am-card-body">
				<div class="am-flexbox am-flexbox-align-center">
					<div class="am-flexbox-item"> 
						单位：<span>{{ value.unit }}</span> 
					</div>
					<div class="am-flexbox-item">
					 	规格：<span>{{ value.ctmmSpecification }}</span>
					 </div>
					<div class="am-flexbox-item"> 
						货位：<span>{{ value.locName }}</span> 
					</div>
				</div>
				{{if value.checkDetailStatus === 1 }}
					{{if value.editable}}
						<div class="editForm" style="display: block;">
							<div class="am-flexbox am-flexbox-align-center">
								<div class="am-flexbox-item">
									<div class="am-list-item am-input-item am-list-item-middle">
										<div class="am-list-line">
											<div class="am-input-label am-input-label-4 font-warning">数量:</div>
											<div class="am-input-control">
												<input pattern="[0-9]*" type="number" value={{ value.accountStoreNum }} placeholder="请输入" class="practicalRepertory flex-item-input" />
											</div>
										</div>
									</div>
								</div>
								<div class="am-flexbox-item">
									<div class="am-list-item am-input-item am-list-item-middle">
										<div class="am-list-line">
											<div class="am-input-label am-input-label-5 font-warning">生产日期:</div>
											<div class="am-input-control">
												<input pattern="[0-9]*" type="date" value={{ value.accountProductTime }} placeholder="请输入" class="realProductTime flex-item-input" />
											</div>
										</div>
									</div>
								 </div>
								 <div class="am-flexbox-item">
									<div class="am-list-item am-input-item am-list-item-middle">
										<div class="am-list-line">
											<div class="am-input-label am-input-label-5 font-warning">生产批号:</div>
											<div class="am-input-control">
												<input pattern="[0-9]*" type="text" value={{ value.accountBatchNo }} placeholder="请输入" class="practicalBatch flex-item-input" />
											</div>
										</div>
									</div>
								 </div>
							</div>
							<div class="am-flexbox am-flexbox-align-center">
								<div class="am-flexbox-item">
									<div class="am-list-item am-input-item am-list-item-middle">
										<div class="am-list-line">
											<div class="am-input-label am-input-label-4 font-warning">有效期至:</div>
											<div class="am-input-control">
												<input pattern="[0-9]*" type="date" value={{ value.accountEndTime }} placeholder="请输入" class="validEndTime flex-item-input"/>
											</div>
										</div>
									</div>
								</div>
								<div class="am-flexbox-item am-last-flexItem"> 
									生产厂家：<span>{{ value.ctmmManufacturerName }}</span> 
								</div>
								<div class="am-flexbox-item">
									
								</div>
							</div>
						</div>
						<div class="am-flexbox am-flexbox-align-center" style="display: none;">
							<div class="am-flexbox-item"> 
								数量：<span>{{ value.accountStoreNum }}</span> 
							</div>
							<div class="am-flexbox-item am-last-flexItem">
							 	生产厂家：<span>{{ value.ctmmManufacturerName }}</span>
							</div>
							<div class="am-flexbox-item">
									
							</div>
						</div>
					{{/if}}
					{{ else }}
						<div class="am-flexbox am-flexbox-align-center">
							<div class="am-flexbox-item"> 
								数量：<span>{{ value.accountStoreNum }}</span> 
							</div>
							<div class="am-flexbox-item am-last-flexItem">
							 	生产厂家：<span>{{ value.ctmmManufacturerName }}</span>
							</div>
							<div class="am-flexbox-item">
									
							</div>
						</div>
				{{ /if }}
			</div>
			<div class="am-card-footer">
				<div class="am-card-footer-extra">
					{{if value.checkDetailStatus === 1 }}
						<button type="button" class="mui-btn mui-btn-blue mui-btn-outlined eidtRow" style="margin: 0 5px;" data-id={{ value.id }} data-index={{ i }}>收起编辑</button>
					{{/if}}
					<button type="button" class="mui-btn mui-btn-blue mui-btn-outlined toPage" style="margin: 0 5px;" data-index={{ i }}>更多详情</button>
					{{ if value.checkDetailStatus === 1 }}
						<button type="button" class="mui-btn mui-btn-blue mui-btn-danger submitButton" data-id={{ value.id }} data-index={{ i }}>提交</button>
					{{ /if }}
				</div>
			</div>
		</div>
		<div style="background-color: #f5f5f9; height: 6px;">
		</div>
	{{/each}}
</script>