<script type="text/html" id='detail_tpl'>
	<div style="margin-top:10px;">
		{{ each list value i }}
		<ul class="mui-table-view" style="margin-bottom:8px;">
			<li class="mui-table-view-cell mui-collapse mui-active">
				<a class="mui-navigate-right" href="#">单据信息</a>
				<div class="mui-collapse-content">
						<div class="mui-input-row">
							<label>配送单/验收单号</label>
							<p class="detailRow_content">{{ distributeCode ? distributeCode: '' }}</p>
						</div>
						<div class="mui-input-row">
							<label>状态</label>
							<p class="detailRow_content">{{ value.upFinishType && value.upFinishType===1 ? '已上架': ' 待上架' }}</p>
						</div>
						<div class="mui-input-row">
							<label>验收时间</label>
							<p class="detailRow_content">{{ receptionTime ? receptionTime: ''}}</p>
						</div>
						<!--<div class="mui-input-row">
							<label>上架人</label>
							<p class="detailRow_content">{{ createname ? createname: '' }}</p>
						</div>-->
						<div class="mui-input-row">
							<label>上架时间</label>
							<p class="detailRow_content">{{ upUserDate ? upUserDate: ''}}</p>
						</div>
				</div>
			</li>
		</ul>
		<ul class="mui-table-view" style="margin-bottom:8px;">
			<li class="mui-table-view-cell mui-collapse mui-active">
				<a class="mui-navigate-right" href="#">产品信息</a>
				<div class="mui-collapse-content">
						<div class="mui-input-row">
							<label>通用名称</label>
							<p class="detailRow_content">{{ value.ctmmGenericName }}</p>
						</div>
						<div class="mui-input-row">
							<label>规格</label>
							<p class="detailRow_content">{{value.ctmmSpecification}}</p>
						</div>
						<div class="mui-input-row">
							<label>生产厂家</label>
							<p class="detailRow_content">{{value.ctmmManufacturerName}}</p>
						</div>
						<div class="mui-input-row">
							<label>生产批号</label>
							<p class="detailRow_content">{{value.productBatchNo}}</p>
						</div>
						<div class="mui-input-row">
							<label>生产日期</label>
							<p class="detailRow_content">{{value.realProductTime}}</p>
						</div>
						<div class="mui-input-row">
							<label>有效期至</label>
							<p class="detailRow_content">{{value.realValidEndDate}}</p>
						</div>
						<div class="mui-input-row">
							<label>包装规格</label>
							<p class="detailRow_content">{{value.packageSpecification}}</p>
						</div>
						<div class="mui-input-row">
							<label>单位</label>
							<p class="detailRow_content">{{value.unit}}</p>
						</div>
						<div class="mui-input-row">
							<label>指示货位</label>
							<p class="detailRow_content">{{value.actualStore}}</p>
						</div>
						<div class="mui-input-row">
							{{ if value.upFinishType !== 1 }}
								<label class="font-warning">实际货位</label>
								<select class="editInput realReceiveStore">
									{{ each value.acceptoodsVo item i }}
										{{ if value.realReceiveStore === item.id }}
											<option value={{ item.id }} selected="selected">{{ item.positionName }}</option>
										{{ else }}
											<option value={{ item.id }}>{{ item.positionName }}</option>
										{{ /if }}
									{{ /each }}
								</select>
							{{ else }}
								<label>实际货位</label>
								<p class="detailRow_content">{{value.realReceiveStoreName}}</p>
							{{ /if }}
							
						</div>
						
						<div class="mui-input-row">
							<label>批准文号</label>
							<p class="detailRow_content">{{value.approvalNo}}</p>
						</div>
						<div class="mui-input-row">
							<label>数量</label>
							<p class="detailRow_content">{{value.realNum}}</p>
						</div>
						<div class="mui-input-row">
							<label>实际上架数量</label>
							<p class="detailRow_content">{{value.realNum}}</p>
							<!--{{ if hasGround }}
								<label class="font-warning">实际上架数量</label>
								<input class="mui-input editInput relNum" type="number" pattern="[0-9]*" value={{ value.realNum  }} />
								{{ else }}
								<label>实际上架数量</label>
								<p class="detailRow_content">{{value.realNum}}</p>
							{{ /if }}-->
						</div>
				</div>
			</li>
		</ul>
		{{ /each }}
	</div>
</script>